.tabs {
    --tabsBodyRowGap: 0;
    --tabsActiveContentDisplay: none;

    display: grid;
    row-gap: 20px;

    &--enable-only-on-mobile {
        @include mobile-above {
            --tabsActiveContentDisplay: block;
            --tabsNavigationDisplay: none;

        }
    }

    &__body {
        display: grid;
        row-gap: var(--tabsBodyRowGap);
    }

    &__content {
        &:not(.is-active) {
            display: var(--tabsActiveContentDisplay);
        }
    }
}